@import url(http://fonts.googleapis.com/css?family=Raleway:100);

* {
  padding: 0;
  margin: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

// CSS Reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
section {
}
section.hidden {
  padding-bottom: 20px;
}
section.visible {
  opacity: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.stronger {
  font-weight: 900;
}
.strongest {
  font-weight: 900;
}

/* Globals*/
body {
  font-family: brandon-grotesque, sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  min-height: 1000px;
}
.main-container {
  margin: 0 auto;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('../images/heritage-ranch-background.jpg');
  background-repeat: no-repeat;
  min-height: 100vh;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
h1, h2, h3, h5 { 
  font-family: brandon-grotesque, sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
}
.small {
  font-size: 0.5em;
}
button {
  margin: 10px;
}
.orange {
  color: #cb713a;
}
  
/* Grid---------------------- */
.row { 
  width: 100%; 
  max-width: 100%; 
  min-width: 768px; 
  margin: 0 auto; 
}
.row .row { 
  width: auto; 
  max-width: none; 
  min-width: 0; 
  margin: 0; 
}
.row.collapse .column, .row.collapse .columns { 
  padding: 0; 
}
.row .row { 
  width: auto; 
  max-width: none; 
  min-width: 0; 
  margin: 0; 
}
.row .row.collapse { 
  margin: 0; 
}
.column, .columns { 
  float: left; 
  padding: 0; 
  position: relative; 
 }
.column.centered, .columns.centered { 
  float: none; 
  margin: 0 auto; 
}
[class*="column"] + [class*="column"]:last-child { 
  float: right; 
}
[class*="column"] + [class*="column"].end { 
  float: left; 
}
.one, .row .one { 
  width: 8.33333%; 
}
.two, .row .two { 
  width: 16.66667%; 
}
.three, .row .three { 
  width: 25%; 
}
.four, .row .four { 
  width: 33.33333%; 
}
.five, .row .five { 
  width: 41.66667%; 
}
.six, .row .six { 
  width: 50%; 
}
.seven, .row .seven { 
  width: 58.33333%; 
}
.eight, .row .eight { 
  width: 66.66667%; 
}
.nine, .row .nine { 
  width: 75%; 
}
.ten, .row .ten { 
  width: 83.33333%; 
}
.eleven, .row .eleven { 
  width: 91.66667%; 
}
.twelve, .row .twelve { 
  width: 100%; 
}

/*Menu*/
#topcolor {
  background-color: #324c67b8;
  background-color: rgba(6, 31, 53, 0.75);
  width: 100%;
  height: 10px;
}
#topbar {
  width: 100%;
  padding: 10px 0px 10px 0px;
  margin: 0 0 0 0;
  z-index: 5;
}
.title-block {
  margin: 0 auto;
  width: 20%;
  background-color: #324C67;
  background-color: #324c67b8;
  background-color: rgba(6, 31, 53, 0.75);
  margin: 5%;
  width: 60%;
  margin-top: 0;
  padding: 10%;
  padding-right: 15%;
  padding-left: 15%;
}
#topbar {
  width: 100%;
  height: initial;
  margin: 0 0 0 0;
  z-index: 5;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
#topbar h1 {
  font-family: brandon-grotesque, sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  text-align: center;
  letter-spacing: 4px;
  padding-top: 5.2px;
}
.title-container {
  border-bottom: 1px solid white;
  width: 100%;
}
.title-scroll {
  margin-left: -45px !important;
}
.tagline {
  text-align: center;
}
.tagline button {
  background-color: #CC713A;
  border: 0px;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  border-radius: 2px;
  font-weight: bold;
  left: 5px;
}
.tagline button:before {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #fff;
  border: solid 3px rgba(255,255,255,0.5);
  position: absolute;
  left: -10px;
  content: "";
  top: 50%;
  transform: translate(0%, -50%);
  -moz-background-clip: padding;     /* Firefox 3.6 */
  -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
  background-clip: padding-box; 
}
.tagline button:after {
  width: 1px;
  height: 1px;
  background-color: #031F3A;
  position: absolute;
  left: 0px;
  border-left: 5px solid #031F3A;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content: "";
  top: 50%;
  transform: translate(0%, -50%);
  -moz-background-clip: padding;     /* Firefox 3.6 */
  -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
  background-clip: padding-box; 
}
.reservation-logos {
  display: flex; 
  align-items: center; 
  justify-content: space-around; 
  text-transform: uppercase; 
  flex-wrap: wrap;
  position: relative;
}
.dotted-line {
  width: 1px; 
  height: 100%; 
  bottom: 0; 
  position: absolute; 
  background-image: linear-gradient(white 33%, rgba(255,255,255,0) 0%);
  background-position: right;
  background-size: 1px 6px;
  background-repeat: repeat-y;
}
.reservation-logo {
  width: 50%; 
}
.reservation-text {
  width: 50%; 
  margin-top: 10px;
}
.top-img {
  float: left;
  margin-left: -10px;
  width: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.scroll-img {
  margin-left:10px;
  width:35%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#topbar > ul > li {
  display: inline-table;
  list-style: none;
}
.menu-button {
  display: none;
}
.menu > ul {
  padding-right: 30px;
}
.menu > ul > li {
  display: inline;
  float: right;
  font-family: brandon-grotesque, sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 1em;
  letter-spacing: 4px;
  color: #ffffff;
  padding-right: 25px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
}
.information-block {
  position: relative;
  overflow: hidden;
  padding: 20px;
  text-align: center;
  z-index:1;
  height: 134px;
}
.information-block:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 500px;
  bottom: 20px;
  left: 0;
  top: -325px;
  transform-origin: 75% 100%;
  z-index: -1;
  background-color: rgba(6, 31, 53, 1);
}
.information-block h2 {
  padding-bottom: 20px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12pt;
  font-weight: bold;
}
.first-info * {
  text-align: center !important;
}
.left-border {
  height: 100%;
  width: 1px;
  background-color: #fff;
  position: absolute;
}
.right-border {
  height: 100%;
  width: 1px;
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  right: 0px;
}
.bottom-right-border {
  width: 98%;
  height: 1px;
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  right: 0px;
  bottom: 0;
}
.bottom-left-border {
  width: 98%;
  height: 1px;
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  bottom: 0;
}

.secondary-image-section:before, 
.secondary-image-section:after, 
.secondary-image-section .img-bottom-left-border, 
.secondary-image-section .img-bottom-right-border,
.secondary-image-section .img-bottom-left-border, 
.secondary-image-section .img-bottom-left-tilt,
.secondary-image-section .img-bottom-right-tilt,
.secondary-image-section .img-top-right-tilt,
.secondary-image-section .img-top-left-tilt,
.secondary-image-section .img-top-right-border,
.secondary-image-section .img-top-left-border,   
.info-block-container .bottom-right-border,
.info-block-container .bottom-left-border,
.info-block-container .top-right-border,
.info-block-container .top-left-border,
.info-block-container .top-left-tilt,
.info-block-container .top-right-tilt,
.info-block-container .bottom-left-tilt,
.info-block-container .bottom-right-tilt {
  display: none;
}

.top-right-border {
  width: 98%;
  height: 1px;
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  right: 0px;
  top: 0;
}
.top-left-border {
  width: 98%;
  height: 1px;
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  top: 0;
}
.bottom-left-tilt {
  height: 15px;
  width: 1px;
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  transform: rotate(48deg);
  bottom: -2px;
  right: 5px;
}
.top-left-tilt {
  height: 15px;
  width: 1px;
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  transform: rotate(-48deg);
  top: -2px;
  right: 5px;
}
.bottom-right-tilt {
  height: 15px;
  width: 1px;
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  transform: rotate(-48deg);
  bottom: -2px;
  left: 5px;
}
.top-right-tilt {
  height: 15px;
  width: 1px;
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  transform: rotate(48deg);
  top: -2px;
  left: 5px;
}

/*Image Section Tilts*/
.img-bottom-left-tilt {
  height: 25px;
  width: 1px;
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  transform: rotate(48deg);
  bottom: -3px;
  left: 49.25%;
  z-index: 500000000;
}
.img-top-left-tilt {
  height: 25px;
  width: 1px;
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  transform: translate(-50%, 0%) rotate(-48deg);
  top: -3px;
  left: 49.25%;
  z-index: 500000000;
}
.img-bottom-right-tilt {
  height: 25px;
  width: 1px;
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  transform: rotate(-48deg);
  bottom: -3px;
  right: 49.25%;
  z-index: 500000000;
}
.img-top-right-tilt {
  height: 25px;
  width: 1px;
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  transform: rotate(48deg);
  top: -3px;
  right: 49.25%;
  z-index: 500000000;
}
.img-top-right-border {
  width: 48.56%;
  height: 1px;
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  right: 0px;
  top: 0;
  z-index: 500000000;
}
.img-top-left-border {
  width: 48.56%;
  height: 1px;
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  left: 0px;
  top: 0;
  z-index: 500000000;
}
.img-bottom-left-border {
  width: 48.56%;
  height: 1px;
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  left: 0px;
  bottom: 0;
  z-index: 500000000;
}
.img-bottom-right-border {
  width: 48.56%;
  height: 1px;
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  right: 0px;
  bottom: 0;
  z-index: 500000000;
}
.simply-beautiful-tag {
  margin: 50px auto 50px; 
  width: 70%;
}
.image-grid-item {
  background-size: cover; 
  height: 200px; 
  width: 100%;
}
.secondary-info {
  padding: 50px;
  background-color: #000d18;
}
.secondary-info h2 {
  text-align: center; 
  color: #cb713a; 
  text-transform: uppercase; 
  font-weight: bold; 
}
.secondary-info p {
  text-align: center; 
  color: #fff; 
  padding: 30px; 
  margin: 0 auto;
}
.related-parties-logos {
  background-color: #000d18; 
  width: 100%; 
}
.related-parties-logos img {
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  display: inherit;
}
.line-break {
  width: 60%; 
  margin: auto; 
  margin-top: 20px;
  margin-bottom: 50px;
}


.sideline-left {
  border-right: 1px solid white; 
  border-top: 1px solid white;
}
.sideline-right { 
  border-left: 1px solid white; 
  border-top: 1px solid white;
}

.secondary-image-section:before {
    content: '';
    margin: 0 auto;
    top: -10px;
    position: absolute;
    z-index: 300000000;
    height: 20px;
    border-top: 40px solid black;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    left: 50%;
    transform: translate(-50%, 0%);
}
.secondary-image-section:after {
    content: '';
    margin: 0 auto;
    bottom: -10px;
    position: absolute;
    z-index: 300000000;
    height: 20px;
    border-bottom: 40px solid black;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    left: 50%;
    transform: translate(-50%, 0%);
}

/*Pithy Headline*/
.simply-beautiful-tag {
  margin: 50px auto 50px; 
  width: 30%;
  width: 70%;
}
.blue-info-section {
  clear: both;
  width: 100%;
}

/*Footer*/
.end p {
  color: #2f2f3a;
}
footer {
  background-color: #000d18;
  z-index: 500;
  bottom: 0;
}
footer p {
  color: #ffffff;
}
svg {
  display: inline;
  width: 60px;
  padding-right: 30px;
}
svg#Layer_1 .cls-1{fill:#fff;
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}
svg#Layer_1:hover .cls-1 {
  fill: #777;
}
.contact-container {
  text-align: center;
  padding-bottom: 20px;
}
footer {
  width: 100%; 
  font-size: 12px;
}
footer a {
  color: #fff;
}

@media only screen and (min-width: 500px) { 
  .image-grid-item {
    height: 500px;
  }
}

@media only screen and (min-width: 767px) { 
  .sideline-left, .sideline-right {
    width: 35%;
  }
  .title-container {
    width: 30%; 
  }
  .simply-beautiful-tag {
    width: 30%;
  }
  .contact-container {
    display: flex; 
    margin-left: -40px;
    justify-content: center; 
    align-items: center;
  }
  .image-grid-item {
    height: 400px;
  }
}
@media only screen and (min-width: 1000px) { 
  .blue-info-section {
    display: flex; 
    text-align: right; 
    width: 70%;
    width: 1000px; 
    margin: 0 auto; 
    margin-bottom: 70px;
  }
  .info-block-container {
    width: 48%; 
    position: relative;
    width: 500px;
  }
  .information-block:after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    bottom: 20px;
    left: 21%;
    top: -325px;
    transform-origin: 75% 100%;
    transform: rotate(-45deg);
    z-index: -1;
    background-color: rgba(6, 31, 53, 0.75);
  }
  .information-block {
    margin: 1%;
  }
  .first-info {
    margin-right: 0;
  }
  .second-info {
    margin-left: 0;
  }
  .second-info:after {
    left: 35%;
  }
  .secondary-image-section {
    display: flex; 
    justify-content: space-between; 
    padding-top: .5%; 
    padding-bottom: .5%;
    position: relative;
  }
  .image-grid-item {
    background-size: cover; 
    height: 200px; 
    width: 19.5%;
  }
  .secondary-info p {
    max-width: 50%; 
  }
  .related-parties-logos {
    display: flex; 
    align-content: space-around; 
    align-items: center; 
    justify-content: center;
    max-width: 60%;
    margin: 0 auto;
  }
  .related-parties-logos img {
    max-width: 33%;
  }
  .secondary-image-section:before,
  .secondary-image-section:after, 
  .secondary-image-section .img-bottom-left-border, 
  .secondary-image-section .img-bottom-right-border,
  .secondary-image-section .img-bottom-left-border, 
  .secondary-image-section .img-bottom-left-tilt,
  .secondary-image-section .img-bottom-right-tilt,
  .secondary-image-section .img-top-right-tilt,
  .secondary-image-section .img-top-left-tilt,
  .secondary-image-section .img-top-right-border,
  .secondary-image-section .img-top-left-border,
  .info-block-container .bottom-right-border,
  .info-block-container .bottom-left-border,
  .info-block-container .top-right-border,
  .info-block-container .top-left-border, 
  .info-block-container .top-left-tilt,
  .info-block-container .top-right-tilt,
  .info-block-container .bottom-left-tilt,
  .info-block-container .bottom-right-tilt {
    display: block;
  }
  .first-info * {
    text-align: left !important;
  }
}
@media only screen and (min-width: 1240px) { 
  .main-container {
    background-size: 100%;
  }
  .secondary-info h2 {
    font-size: 25pt;
  }
}

/*Media Queries*/
@media only screen and (max-width: 767px) { 

  /*Globals*/
  body {
    max-width: 767px !important;
    overflow-x: hidden;
  }  
  .show-for-small, .hide-for-medium, .show-for-medium-down, .hide-for-large, .hide-for-large-up, .hide-for-xlarge { 
    display: inherit !important; 
  }
  .hide-for-small, .show-for-medium, .hide-for-medium-down, .show-for-large, .show-for-large-up, .show-for-xlarge { 
    display: none !important; 
  } 

  /*Mobile Menu*/
  #topbar h1 {
    font-family: brandon-grotesque, sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1.9em;
    letter-spacing: 4px;
    padding-top: 3px;
    margin-left: -10px;
  }
  .menu-button {
    display: initial;
    font-weight:900;
    float: right;
    margin-right: 30px;
    font-size: 25px;
    margin-top: 15px;
  }
  .hidden-menu {
    display:none;
  }
  .visible-menu {
    display: block;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .menu > ul > li {
    display: block;
    float: none;
    font-family: brandon-grotesque, sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    letter-spacing: 4px;
    color: #ffffff;
    padding-right: 25px;
    padding-top: 30px;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
  }

  /*Mobile Grid*/
  .column, .columns {
    width: auto !important;
    float: none;
  }
  .columns {
    padding: 0 2px;
  }
  .row {
    width: auto;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
  }
  [class*="column"] + [class*="column"]:last-child {
    float: none;
  }

  /*First Section*/
  .about-image {
    margin: 0 auto;
    display: block;
  }

  /*Section Section*/
  .slope-container {
    margin-top: 30px;
    overflow: initial;
  }
  .work-module {
    height: initial;
  }
  .work {
    margin-top: 30px;
  }
  .slope {
    margin: 0 -90px;
    margin-left: -400px;
  }

  /*Footer*/
  footer {
    padding-top: 60px;
    margin-top: -70px;
  }

}